<div class="row">
	<div class="ten columns">
		{{view Ember.TextField valueBinding="description" placeholder="Title"}}
	</div>
	<div class="two columns">
		<button type="submit" class="button">
			{{#if id}}Update{{else}}Create{{/if}}
		</button>
	</div>
</div>
