<div class="row">
	<div class="ten columns">
		{{view Ember.TextArea valueBinding="description" placeholder="Title"}}
	</div>
	<div class="two columns">
		{{#if id}}
			<button {{action "updateComment" this}} class="button">
				Update
			</button>
		{{else}}
			<button type="submit" class="button">
				Create
			</button>
		{{/if}}
	</div>
</div>
