<div class="row" style="height:10px;"></div>
<div class="row">
	<div class="twelve columns">
		<h1>Los Blogos</h1>
		<nav class="top-bar blue-top-bar">
		  <ul class="title-area">
		    <li class="name">{{#linkTo "blogs"}}Blogs{{/linkTo}}</li>
		    <li class="name">{{#linkTo "users"}}Authors{{/linkTo}}</li>
		    <li class="name">{{#linkTo "log_in"}}Log In{{/linkTo}}</li>
		  </ul>
		</nav>
		<hr>	
	</div>
</div>
<div class="row">
	<div class="twelve columns">
		<p>{{outlet}}</p>
	</div>
</div>

<div class="row footer">
	<div class="twelve columns">
		<hr>
		<div class="row">
			<div class="four columns">
			</div>
			<div class="four columns">
				<p>Read and leave your thoughts</p>
			</div>
			<div class="four columns">
			</div>
		</div>
	</div>
</div>