<div class="row" style="height:10px;"></div>
<div class="row">
	<div class="twelve columns">
		<h1>Los Blogos</h1>
		<div class="row">
			<div class="three large-offset-8 columns">
				{{#linkTo "blogs"}}Blogs{{/linkTo}}
				{{#linkTo "users"}}Authors{{/linkTo}}
			</div>
		</div>
		<hr>	
	</div>
</div>
<div class="row">
	<div class="twelve columns">
		<p>{{outlet}}</p>
	</div>
</div>

<div class="row footer">
	<div class="twelve columns">
		<hr>
		<div class="row">
			<div class="four columns">
			</div>
			<div class="four columns">
				<p>Read and leave your thoughts</p>
			</div>
			<div class="four columns">
			</div>
		</div>
	</div>
</div>