<h3>New Comment entry</h3>
<ul class="comment_form" style="list-style:none;">
	<li>
	  	{{view Ember.TextArea valueBinding="view.description"  placeholder="Content"}}
	</li>
	<li>
		  <button type="submit" class="button large expand" >
		    {{#if id}}Update{{else}}Create{{/if}}
		  </button>
	</li>
</ul>
