/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree ../../../vendor/assets/stylesheets
 *= require_tree .
 */
.top-bar > ul .name h1.title{
  line-height: 30px;
  color: white;
  margin: 5px 0 0 25px;
  vertical-align: middle;  
}


#tables a {
  font-weight: bold;
  font-size: 2.5em;
  text-align: center;
}

#tables a:hover {
  background-color: #e6e6e6;
}

#tables .active:hover, .active, h2 span {
  background-color: #333;
  color: white;
}

ul#menu li {
  list-style-type: none;
  text-align: center;
  padding-bottom: 1em;
}
ul#menu li div {
  font-size: 64px;
  line-height: 64px;
}
ul#menu li p {
  font-weight: bold;
  text-transform: uppercase;
}


#customer-tab {
  background-color: #f2f2f2;
  border: 1px solid #e6e6e6;
  padding: 1em 2em;
}
#customer-tab li {
  list-style-type: none;
  border-bottom: 1px solid #ccc;
}
#customer-tab li#total h3 {
  font-weight: bold;
}
#customer-tab li#total {
  border-top: 4px solid black;
  border-bottom: 0;
}
#customer-tab li h3 {
  font-weight: normal;
}
#customer-tab li span {
  float: right;
}

#order {
  border-left: 1px dashed #333;
}
#order h2 {
  text-align: center;
}
h2 span {
  padding: 0.5em 1em;
}
.panel.active{
  background: black;
  color: white;
}

.blue-top-bar, .top-bar.blue-top-bar{
  background: #2ba6cb;
}
.hidden{
  display: none;
}


h2 a.active, h2 a{
  color: #2ba6cb;
  background: white;
}

.many_entries_container{
  max-height: 340px;
  overflow-y: scroll;
  border: 1px solid #2ba6cb;
  padding: 10px;
  background:
  linear-gradient(white 30%, hsla(0,0%,100%,0)),
  linear-gradient(hsla(0,0%,100%,0), white 70%) bottom,
  radial-gradient(at top, rgba(0,0,0,.2), transparent 70%),
  radial-gradient(at bottom, rgba(0,0,0,.2), transparent 70%) bottom;
  background-repeat: no-repeat;
  background-size: 100% 40px, 100% 40px, 100% 14px, 100% 14px;
  background-attachment: local, local, scroll, scroll;


}