<div class="row">
	<div class="four columns" id="blogs">
		<h2>Authors</h2>
		<div class="many_entries_container">
			{{#each author in controller}}
				{{#linkTo "user" author}}
					<h3>{{author.username}}</h3>
				{{/linkTo}}
			{{/each}}
		</div>
		<h4>{{#linkTo "new_user"}} New Author {{/linkTo}}</h4>
	</div>
	<div class="eight columns" id="author">
		{{outlet}}
	</div>
</div>